.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
  }
  
  .sidebar-heading {
    margin-bottom: 1rem;
    color: #3f51b5;
    font-weight: bold;
  }
  
  .fundraiser-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px 15px;
    width: 100%;
  }

  .fundraiser-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-preview {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .button-container {
    position: relative;
    width: 100%; 
  }
  
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .video-img {
    display: flex;
    align-items: center;
  }
  
  .upload-img-button {
    height: 100%;
    background-color: #039695;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  
  .upload-img-div {
    height: 55px;
  }
  
  .form-group {
    margin: 0px;
  }
  
  @media (max-width: 768px) {
    .sidebar-container {
      padding: 0.5rem;
      box-shadow: none;
    }
  
    .fundraiser-form {
      padding: 10px;
      margin-top: 40px;
    }
  
    .image-preview {
      width: 100%;
      border-radius: 5px;
      box-shadow: none;
    }
  
    .button-container {
      width: 100%; 
      margin-top: 10px;
    }
  
    .submit-button {
      height: 50px;
      font-size: 0.9rem;
    }
  
    .upload-img-button {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar-container {
      padding: 0.5rem;
    }
  
    .sidebar-heading {
      font-size: 1.2rem;
      text-align: center;
    }
  
    .fundraiser-form {
      padding: 5px;
      gap: 0.8rem;
    }
  
    .submit-button,
    .upload-img-button {
      height: 45px;
      font-size: 0.8rem;
    }
  
    .button-container {
      width: 100%;
    }
  
    .upload-img-div {
      height: 45px;
    }
  }
  