.form-div{
    width: 100%;
    padding: 1rem;
    margin-top: 70px;
}

@media (min-width: 576px) {
  .form-div {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .form-div {
    padding: 25px 15px;
  }
}

.medical-documents-container{
    width: 100%;
}

.documents-button{
    height: 50px;
    width: 100%;
    max-width: 300px;
}

@media (min-width: 576px) {
  .documents-button {
    width: 300px;
  }
}
