.login {
  height: 100vh;
  background-color: #00c9c9d1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;

  .login-card {
    height: 80%;
    width: 68%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    min-height: 550px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(3, 150, 149, 0.3), rgba(3, 150, 149, 0.3)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #039695;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #039695;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
