.cancel-toast {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    z-index: 1050; 
  }
  
  /* Error Icon Shake animation */
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .failure-icon-wrapper {
    background-color: #dc3545;
    padding: 15px;
    border-radius: 50%;
  }
  
  .failure-icon {
    color: white;
    font-size: 40px;
  }
  
  .shake-icon {
    animation: shake 0.5s ease-in-out infinite;
  }
  
  .payment-cancel-container {
    background-color: #f8d7da;
    padding: 50px 20px;
    position: relative;
    margin: 0;
  }
  
  .payment-cancel-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-cancel-card .btn {
    margin-top: 15px;
  }
  
  .payment-cancel-card .card-title {
    color: #dc3545;
  }
  
  .payment-cancel-card .card-text {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .cancel-donation-amount {
    font-weight: bold;
    font-size: 1.2rem;
    color: #dc3545;
  }
  
.payment-cancel-button{
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
}
  
  